@font-face {
  font-family: josefinSans-light;
  src: url(fonts/JosefinSans/JosefinSans-light.ttf);
  font-weight: bold;
}

head{
	overflow-y: none;
}

body{
	display: inline important;
	font-family: josefinSans-light;
	margin: 0px;
	overflow-y: none !important;
	overflow-x: none !important;
	text-decoration: none;

	background-color: #eee;

	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

/* unvisited link */
a:link {
    color: black;
}

/* visited link */
a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: black;
}

/* selected link */
a:active {
    color: black;
}

a:-webkit-any-link {
	text-decoration: none;
}

/* POST FRAGMENT */

.post .body header p{
	margin-left: -20px;
}

.post .body header .fa-bars{
	float: left;
	margin: 30px;
}

.post .panel{
	display: block !important;
	float: left;
	width: 380px;
	height: 99.8%;
	border-right: 1px solid black;
	display: inline-table;
	overflow-y: scroll;
	background-color: #fff;
	min-width: 380px;
	max-width: 380px;
}

.post .body{
	float: right;
	overflow-y: none;
}

.post .panel #title{
	margin: 0px;
	color: white;
	padding-top: 20px;
	padding-bottom: 20px;	
	animation-name: Anim;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes Anim {
    0% {background-color: black; }
    5% {background-color: #f44336;}
    10% {background-color: #e91e63;}
    15% {background-color: #9c27b0;}
    20% {background-color: #673ab7;}
    25% {background-color: #3f51b5;}
    30% {background-color: #2196f3;}
    35% {background-color: #03a9f4;}
    40% {background-color: #00bcd4;}
    45% {background-color: #009688;}
    50% {background-color: #4caf50;}
    55% {background-color: #8bc34a;}
    60% {background-color: #cddc39;}
    65% {background-color: #ffeb3b;}
    70% {background-color: #ffc107;}
    75% {background-color: #ff9800;}
    80% {background-color: #ff5722;}
    85% {background-color: #795548;}
    90% {background-color: #9e9e9e;}
    95% {background-color: #607d8b;}
    100% {background-color: black;}
}

/* Standard syntax */
@keyframes Anim{
    0% {background-color: black; }
    5% {background-color: #f44336;}
    10% {background-color: #e91e63;}
    15% {background-color: #9c27b0;}
    20% {background-color: #673ab7;}
    25% {background-color: #3f51b5;}
    30% {background-color: #2196f3;}
    35% {background-color: #03a9f4;}
    40% {background-color: #00bcd4;}
    45% {background-color: #009688;}
    50% {background-color: #4caf50;}
    55% {background-color: #8bc34a;}
    60% {background-color: #cddc39;}
    65% {background-color: #ffeb3b;}
    70% {background-color: #ffc107;}
    75% {background-color: #ff9800;}
    80% {background-color: #ff5722;}
    85% {background-color: #795548;}
    90% {background-color: #9e9e9e;}
    95% {background-color: #607d8b;}
    100% {background-color: black;}
}

.post .utente{
	padding: 16px;
	font-size: 64px;
}

.post .utente .fa{
	float: left;
	font-size: 92px;
}

.post .utente #usr{
	margin-top: 15px;
	display: -webkit-inline-box !important;
	font-size: 34px !important;
	display: inline;text-align: left !important;
}

.post .utente p{
	font-size: 18px;
	margin: 4px;
}

::-webkit-scrollbar{
	float: right;
	width: 0px;
}

::-webkit-scrollbar-button       {
	display: none;
}

::-webkit-scrollbar-track        {
	background-color: #eee;
}

::-webkit-scrollbar-track-piece  {
	background-color: #e0e0e0;
}

::-webkit-scrollbar-thumb        {
	background-color: #9e9e9e;
	border-radius:20px;
}

.post .footer{
	position: absolute !important;
	bottom: 0;
	left: 0;
	background-color: #eee;
	width: 380px;
	height: 58px !important;
}

.post .footer ul{
	list-style: none;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
    margin-top: 14px;
}

.post .footer ul li{
	display: inline-table;
	margin-left: 12px;
	margin-right: 12px;
}

.post main ul{
	list-style: none;
	font-size: 32px;
	padding: 0;
}

.post main ul li{
	background-color: #fff;
	transition: background-color 1s;
	padding: 10px;
}

.post main ul li:hover{
	background-color: #eee;
}

.post main ul li:active{
	background-color: #bdbdbd;
}

.post main ul li i{
	float: left;
	margin-top: 3px;
}

.post main ul li .badge{
	display: inline-table;
    position: absolute;
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: #03a9f4;
    color: white;
    margin-top: -4px;
    font-size: 18px;
    padding: 4px;
    margin-left: 6px;
}



/*MAIN FRAME*/

.post .body{
	width: 81%;
    height: 100%;
    top: 0;
    position: fixed;
    left: 381px;
	float: right;
    display: block;
    background-color: white;
    overflow-y: scroll;
}

.post .body header{
	width: 100%;
	margin: 0px;
	padding: 0px;
	background-color: #eee;
	font-size: 48px;
}

.post .body header p{
	margin: 0;
	padding: 24;
}

.post .body main{
	padding: 50px;
}

.post .body main .addPost, .post .body main .visite, .post  .body main .shared{
	display: inline-table;
	float: left;
	min-width: 20%;
	max-width: 20%;
	margin: 20px;
	background-color: #eee;
	border-radius: 20px;
	font-size: 120px;
	padding: 80px;
	text-align: center;    
	box-shadow: 0px 0px 67px 0px black;
	transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
	cursor: pointer;
}

.post .body main .addPost i{
	margin-top: -20px;
}

.post .body main .addPost p, .post .body main .visite p, .post .body main .shared p{
	margin: 0px;
	padding: 0px;
	font-size: 28px;
	outline: none;
}

.post .body main .addPost{
	margin-right: 50px;
	margin-bottom: 46px;
	padding: 54px;
	margin-left: 18% !important;
}

.post .body main .addPost:hover{
	background-color: #00bcd4;
	color: white;
	box-shadow: 0px 15px 67px 0px black;
}

.post .body main .visite{
	display: inline-table;
	float: left;
	margin-right: 20px;
	min-width: 120px;
	padding: 46px;
	margin-bottom: 46px;
}

.post .body main .visite:hover{
	background-color: #ff9800;
	color: white;
	box-shadow: 0px 15px 67px 0px black;
}

.post .body main .shared{
	min-width: 120px;
	float: left;
	margin-right: 50px;
	padding: 46px;
	margin-bottom: 46px;
}

.post .body main .shared:hover{
	background-color: #9c27b0;
	color: white;
	box-shadow: 0px 15px 67px 0px black;
}

.post .visual{
	width: 100%;
}

.post .dati{
	margin-bottom: 40px;
}

.post table{
	text-align: center;
	width: 95%;
}

.post table thead tr td, table tbody tr td{
	border-right: 1px solid black;
	padding: 5px;
	margin: 0px;
	transition: background-color 1s;
}

.post table tbody tr td{
	border-right: 0px;
}

.post table tbody tr{
	transition: background-color 1s;
}

.post table thead tr td:hover, .post table tbody tr:hover{
	background-color: #eee;
}

.post table tbody tr td ul{
	background-color: rgba(255,255,255,0) !important;
	margin: 0px;
	padding: 0px;
}

.post table tbody tr td ul li{
	background-color: rgba(255,255,255,0) !important;
	margin: 0px;
	padding: 0px;
}

.post table tbody tr td ul li i{
	font-size: 24px !important;
	margin-left: 6px;
	margin-right: 6px;
	float: none;
}

.dialog{
	box-shadow: 0px 0px 0px 80000px rgba(0,0,0,0.8);
	position: fixed;
	font-size: 32px;
	margin-top: 17%;
	border-radius: 7px;
	border: 0px;
	text-align: center;
	display: none;
	background-color: white;
	margin-left: 39%;
	padding: 20px;
}

.dialog p{
	margin: 20px;
	padding: 0px;
}

.dialog button{
	padding: 15px;
	border: 0px;
	font-size: 14px;
	outline: none;
	border-radius: 5px;
	background-color: #fff !important;
	transition: background-color 1s;
}

.dialog #OK:hover{
	background-color: #43a047 !important;
	color: white;
}

.dialog #OK:active{
	background-color: #1b5e20 !important;
	color: white;
}

.dialog #CANCEL:hover{
	background-color: #e53935 !important;
	color: white;
}

.dialog #CANCEL:active{
	background-color: #b71c1c !important;
	color: white;
}

.post #statusVisual{
	text-align: center;
	font-size: 32px;
}




/* NEW POST FRAGMENT */
.newPost{
	position: fixed;
    float: right;
    width: 80.17%;
    background-color: white;
    height: 100%;
    overflow-y: scroll;
    right: 0;
    background-color: #fff;
    display: none;
}

.newPost header{
    margin: 0px;
    padding: 24px;
    background-color: #eee;
    font-size: 48px;
}

.newPost header p{
	margin: 0;
    padding: 0;
    display: -webkit-inline-box;
}

.netPost header .fa-bars{
	float: left;
    margin: 30px;
    margin-left: 30px !important;
}

.newPost main{
	background-color: #eee;
	margin: 40px;
	height: 100%;
	border-radius: 24px;
	padding: 42px;
	font-size: 42px;
}

.newPost main p{
	padding: 18px;
	margin: 0px;
}

.newPost main input[type="text"], .newPost main textarea{
	background-color: rgba(255,255,255,0);
	border: 1px solid black;
	outline: none;
	border-bottom: 1px solid black;
	font-size: 32px;
	padding: 14px;
	width: 100%;
	margin-bottom: 20px;
	border-radius: 10px;
}

.newPost main textarea{
	height: 390px;
	padding: 14px;
	font-size: 20px;
	border-radius: 0px 0px 10px 10px;
	max-width: 100%;
	min-width: 100%;
	max-height: 568px;
}

.newPost main .tools{
	border: 1px solid black;
	height: 32px;
	border-radius: 10px 10px 0px 0px;
	padding-left: 8px;
}

.newPost main .tools ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	display: table-row;
	margin-left: 8px;
}

.newPost main .tools ul li{
	display: -webkit-inline-box;
}

.newPost main .tools ul i{
	font-size: 18px;
	padding: 7px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	transition: background-color 1s;
}

.newPost main .tools ul i:hover{
	background-color: #e0e0e0;
}

.newPost main .tools ul i:active{
	background-color: #bdbdbd;
}

.italicTxt{
	font-style: italic;	
}

.newPost main input[type="button"]{
	padding: 24px;
	font-size: 18px;
	border: 0px;
	outline: none;
	right: 0;
	float: right;
	background-color: #03a9f4;
	border-radius: 10px;
	color: white;
	transition: background-color 0.5s;
}

.newPost main input[type="button"]:hover{
	background-color: #039be5;
}

.newPost main input[type="button"]:active{
	background-color: #0288d1;
}

select{
	border: 0px;
	outline: none;
	background: #03a9f4;
	color: white;
    padding: 12px;
    width: 25%;
    font-size: 24px;
    line-height: 1;
    border: 0;
    transition: background 1s;
    border-radius: 0px;
    margin-right: 24px;
}

select option:hover{ 
    background-color: #039be5;
}

select option{
	background: #03a9f4;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.newPost main #Cancel{
	background-color: #e53935 !important;
	margin-left: 12px;
}

.newPost main #Cancel:hover{
	background-color: #d32f2f !important;
}

.newPost main #Cancel:active{
	background-color: #c62828 !important;
}






/* SCREEN RESPONSIVE */

@media only screen and (max-width: 1400px) {
	.post .body main .dati .addPost{
		margin-left: 1% !important;
	}

	.newPost{
		width: 72%;
	}

	#descrizioneTxt{
		max-height: 390px;
	}
}

@media only screen and (max-width: 500px) {
	.post .body main .dati .addPost{
		margin-left: 8% !important;
		min-width: 43%;
	}

	.post .body{
		width: 100%;
		left: 0;
	}

	.post .body main .dati .shared, .post .body main .dati .visite{
		display: none;
	}

	.post .panel{
		display: none !important;
	}

	.post table{
		width: 100%;
	}

	.post .visual{
		margin-left: -30px;
		width: 120%;
	}

	.dialog{
		margin-left: 0%;
	}
}